:root{
    --font-family: 'Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family2: 'Amatic SC', cursive;
    --font-family3: 'Inter', sans-serif;
    --line-color: #ce1212;
    --hover-color:#ff0000;
    --background-color: #eee;
    --background-color2: #f5f5f5;
    --background-color3: #222;
    --main-color: #212529;
    --second-color: #7f7f90;
    --dark-color: #000;
    --light-color: #fff;
    --light-hue: #ddd;
    --color1: #37373f;
    --color2: #4f4f5a;
    --color3: #7d7d7d;
    --social-color: #37373f66;
    --social-color2:#37373fe6;
}